<!-- Config file for the game -->

<config>
  <app>
    <title>Back In Time</title>
    <organization>Bernat and Pablo</organization>
  </app>

  <render>
    <vsync value="true"/>
    <camera_position x="0" y ="20"/>
  </render>

  <player>
    <spritesheet source ="character/spritesheet_pj.png"/>
    <initialPosition>
      <map1 x="200" y="240"/>
      <map2 x="40" y="240"/>
    </initialPosition>

    <lives value ="3"/>
    <velocity value ="2.0"/>
    <run_velocity value ="3.0"/>
    <fall_velocity value ="0.0"/>
    <decrease_vel value ="0.2" />
    <gravity value ="0.2"/>
    <jump_vel value ="6.5"/>

    <!-- Audio and FX -->
    <jumpFX source ="jump.wav"/>
    <musicFX source ="music.ogg"/>
    <landFX source =""/>
    <idleFX source =""/>
    <walkFX source =""/>
    <dashFX source =""/>
  </player>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <finish_printing_right value="19"></finish_printing_right>
    <finish_printing_left value="17"></finish_printing_left>
    <finish_printing_up value="15"></finish_printing_up>
    <finish_printing_down value="9"></finish_printing_down>

  </map>

  <scene>
    <map_name name ="map.tmx"></map_name>
    <map_name name ="2map.tmx"></map_name>
    <fade_time value ="1"></fade_time>
  </scene>

</config>