<!-- Config file for the game -->

<config>
  <app>
    <title>Back In Time</title>
    <organization>Bernat and Pablo</organization>
  </app>

  <renderer>
    <vsync value="true"/>
  </renderer>

  <player>
    <spritesheet source ="spritesheet_pj.png"/>
    <initialPosition x="200.0" y ="400.0"/>

    <velocity value ="2.0"/>
    <run_velocity value ="3.0"/>
    <decrease_vel value ="0.2" />

    <gravity value ="6.0"/>
    <jumpForce value ="6.5"/>

    <!-- Audio and FX -->
    <jumpFX source ="jump.wav"/>
    <musicFX source ="music.ogg"/>
    <landFX source =""/>
    <idleFX source =""/>
    <walkFX source =""/>
    <dashFX source =""/>
  </player>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <finish_printing_right value="50"></finish_printing_right>
    <finish_printing_left value="25"></finish_printing_left>
  </map>

  <scene>
    <map_name name ="map.tmx"></map_name>
    <map_name name ="2map.tmx"></map_name>
    <fade_time value ="1"></fade_time>
  </scene>

</config>