<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Back In Time</title>
    <organization>Bernat and Pablo</organization>
  </app>

  <render>
    <vsync value="true"/>
    <camera_initialPosition>
      <map1 x="0" y="310"/>
      <map2 x="0" y="360"/>
    </camera_initialPosition>    
  </render>

  <entities>
    <gravity value ="5"/>
    
    <player>
      <spritesheet source ="character/spritesheet_pj.png"/>
      <!-- Initial Position -->
      <initialPosition>
        <map1 x="80" y="180"/>
        <map2 x="80" y="53"/>
      </initialPosition>
      <!-- Player initial settings -->
      <lives value ="3"/>
      <velocity value ="70.0"/>
      <run_velocity value ="110.0"/>
      <fall_velocity value ="0"/>
      <max_fall_velocity value ="30"/>
      <decrease_vel value ="20.0" />      
      <jump_vel value ="13.0"/>
      
      <!-- Audio and FX -->
      <jumpFX source ="jump.wav"/>
      <musicFX source ="music.ogg"/>
      <landFX source =""/>
      <idleFX source =""/>
      <walkFX source =""/>
      <dashFX source =""/>
    </player>
    
    <flyingEnemy>
      <velocity value =""/>
      <fallvelocity value ="0"/>
    </flyingEnemy>
    
    <walkingEnemy>
      <velocity value =""/>
    </walkingEnemy>
  </entities>
  

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <finish_printing_right value="31"></finish_printing_right>
    <finish_printing_left value="30"></finish_printing_left>
    <finish_printing_up value="14"></finish_printing_up>
    <finish_printing_down value="14"></finish_printing_down>

  </map>

  <scene>
    <map_name name ="map.tmx"></map_name>
    <map_name name ="2map.tmx"></map_name>
    <fade_time value ="1"></fade_time>
  </scene>

</config>